<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="p-3 mb-2 bg-danger text-black">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Plan Your Events
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Throw a Party!</a></li>
                    <li><a href="/planner">Event Planner</a></li>
                </ul>
            </div>
        
        </div>
    </div>
</nav>