<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main class="p-3 mb-2 bg-danger">
 
  <div class="jumbotron">
      <div class="p-3 mb-2 bg-danger text-dark">
      <h1>Event Planner</h1>
      <p>Plan your events and see how long until the event starts</p>
  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>